
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #000;
  background-image: url(images/img4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div, section, header, span, ul, li, a{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 2.5rem;
  align-items:center;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}

#menu li {
  list-style: none; 
  display: inline-block;
  margin: 1rem;
}

#menu li a{
 color: #000;
 padding: 0.5rem;
 text-decoration: none;
 font-size: 1.2rem;
 border-radius: 3px;
 
}
#logo {
  max-height: 5rem;
}

section {
  height: 100vh;
  width: 100%;
  padding: 7.5rem 5rem;
}

#inicio {
  background-color: #6A715B;
  color: #fff;

}

#servicos {
  background-color: #F7941D;
  color: #fff;
}

#produtos {
  background-color: #6A715B;
  color: #fff;
}

#sobre {
  background-color:rgba(175, 39, 39, 0);
  color: #000;
}

#galeria {
  background-color: #F7941D;
  color: #fff;
}

#contato {
  background-color: #6A715B;
  color: #fff;
}
#cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #FFFFFF;
  color: #000000;

  margin: 1.1em 1em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: 0.3s;
  border-radius: 5px;
  width: 30%;
  min-width: 240px;
  display: inline-block;
  
}
.card_container {
  padding: 1em 1.2em;
}

.card img {
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
 
}
.card_container h4 {
  color: #E99B30;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 scale: 1.02;
 rotate: 2deg;
} 
.container {
  text-align: center;
}
.infosobrenos {
  display: flex;
justify-content: center;
text-align: center;
}
.textosobrenos {
  width: 75%;
  padding: 3rem;
  border: 2px solid #E99B30;
  background-color: #f7951d79;
  border-radius: 25px;
}
#inicio {
  background-color: #FFFFFF;
  padding: 6rem 0 0 0;
  height: auto;
}

#inicio img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}
